::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home-container {
  height: 100vh;
}

.home-content-container {
  display: flex;
  height: calc(100% - 64px);
  overflow-y: scroll;
}

.banner-content-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.banner-logo {
  height: 40px;
}

.banner-button {
  color: #1e293b;
  border: 2px solid #1e293b;
  padding: 10px 20px;
  background: transparent;
  font-weight: 600;
}

.close-icon {
  font-size: 18px;
  display: block;
  align-self: flex-end;
  cursor: pointer;
}

.close-icon-btn {
  background: transparent;
  border-width: 0;
  align-self: flex-end;
}

@media (max-width: 767px) {
  .banner-content-container {
    width: 100%;
  }
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  width: 40%;
}

.search-bar {
  width: 80%;
  height: 30px;
  border: transparent;
  background: transparent;
  outline: none;
  padding-left: 10px;
}

.light-color {
  color: #ffffff;
}

.videos-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
